<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		<!-- Audit -->
		<menuitem
		    id="audit_root_menu"
		    name="Audit"
		    sequence="1"
	    />

			<!-- Temuan-->
			<menuitem
			    id="temuan_root_menu"
			    name="Temuan"
			    parent="audit_root_menu"
			    sequence="1"
		    />

		    <menuitem
			    id="temuan_sub_menu"
			    name="Temuan"
			    parent="temuan_root_menu"
			    action="audit_temuan_action"
			    sequence="1"
		    />

		    <menuitem
			    id="klausul_sub_menu"
			    name="Klausul"
			    parent="temuan_root_menu"
			    action="audit_klausul_action"
			    sequence="2"
		    />
 	</data>
</openerp>
